*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: radial-gradient(#14141f, #0a0a10);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

h1 {
    color: #f674ff;
    font-size: 4rem;
    letter-spacing: .1rem;
}

.hentai {
    color: #ff3967;
}

.link {
    text-decoration: underline;
    color: #003cc7;
    transition: 400ms;
    display: inline-block;
    transform-origin: bottom;
}

.link:hover {
    color: #175dff;
    cursor: pointer;
    transform: scale(1.05) translateY(-5px);
}

.explanation {
    color: #ff0000;
    margin-left: 7px;
}

.quotes {
    color: #ff1c51;
    font-style: italic;
}